.card {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqy9Q1MnJjKSdcUJiW-MG8hK59YhNcT9VCNg&usqp=CAU");
   margin: 0 auto;
   padding: 0 20px 20px 20px;
}

.loader img{
    height : 40px;
    width : 40px;
}

.meupost{
    background: #A9A9A9 !important;
}